@    using Imi.Project.Blazor.Models;
    using Imi.Project.Blazor.Models.Mocking

@*<EditForm Model="@MockRecipe" OnValidSubmit="@(e => OnSave.InvokeAsync(MockRecipe))">
	<DataAnnotationsValidator /> 
	<ValidationSummary />*@

<div class="form-group">
	<label for="title">Title: </label>
	<InputText id="title" class="form-control" @bind-Value="Recipe.Title" />
	<ValidationMessage For="@(() => Recipe.Title)" />
</div>
<div class="form-group">
	<label for="description">Description: </label>
	<InputTextArea id="description" class="form-control" @bind-Value="Recipe.Description" />
</div>

<button type="submit" class="btn btn-primary">Save</button>
<button type="button" class="btn btn-warning" @onclick="OnCancel">Cancel</button>

@*</EditForm>*@
@code {
	[Parameter]
	public MockRecipe Recipe { get; set; }

	[Parameter]
	public EventCallback<MockRecipe> OnSave { get; set; }

	[Parameter]
	public EventCallback OnCancel { get; set; }
}