@using Imi.Project.Blazor.Models

<div class="form-group">
	<label for="email">Title: </label>
	<InputText id="name" class="form-control" @bind-Value="User.Name" />
	<ValidationMessage For="@(() => User.Name)" />
</div>

@code {
	[Parameter]
	public MockUser User { get; set; }

	//TODO Add OnSave and OnCancel and corresponding buttons
}