@using Imi.Project.Blazor.Models

<button class="btn btn-dark" @onclick="OnAdd">Add recipe</button>
<table class="table mt-4">
	<thead>
		<tr>
			<th></th>
			<th>Id</th>
			<th>Title</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var recipe in Recipes)
		{
			<tr>
				<td>
					<button class="btn btn-warning" @onclick="e => OnEdit.InvokeAsync(recipe)">Edit</button>
				</td>
				<td>
					@recipe.Id
				</td>
				<td>
					@recipe.Title
				</td>
				<td>
					@recipe.Description
				</td>
				<td>
					<button class="btn btn-danger" @onclick="e => OnDelete.InvokeAsync(recipe)">Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>

@code {
	[Parameter]
	public MockRecipe[]? Recipes { get; set; }

	[Parameter]
	public EventCallback OnAdd { get; set; }

	[Parameter]
	public EventCallback<MockRecipe> OnEdit { get; set; }

	[Parameter]
	public EventCallback<MockRecipe> OnDelete { get; set; }
}
