@page "/"

<PageTitle>Home</PageTitle>

<h1>IMI-Project</h1>

<p class="lead">This Blazor app covers the CRUD and Concepts part of Programming Innovation. CRUD contains Recipes, Ingedrients and Users, Concepts is a food-quiz.</p>
