@page "/quiz"

<h3>Quiz</h3>

<p>This page will contain 5 multiple-choice questions with several possible answers each but only one is correct. Once an answer for each question has been picked, a result will show.</p>

@code {

}
