@page "/quiz"

<h3>Quiz</h3>

<p>This page will contain 5 multiple-choice questions with 3 possible answers each. Once an answer for each question has been picked, a result will show.</p>

@code {

}
